body {
 position: relative;
 width: 80%;
 margin: 0 auto;
}

.navbar {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.links {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 4rem;
}
